
header {
  text-align: center;
  font-family:  Courier, monospace;
}
.infocomp {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.car1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.car2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.car3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
section{
  display: flex; 
  margin: 20px;
  margin-top: 20px;
}
p {
  margin-top: 70px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
}
p1 {
  margin-top: 65px;
  margin-left: 10px;
    color: rgb(255, 255, 255);
}

h2 {
  color: rgb(255, 255, 255);
}
.size1 {
  width: 300px;
  height: 150px;
}
.size2 {
  width: 300px;
  height: 200px;
}
.size4 {
  width: 300px;
  height: 190px;
}
.size3 {
  width: 300px;
  height: 130px;
}
.vivo {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 0%;
  overflow: hidden;
  z-index: -1;
}
#vivo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.content {
  position: relative;
  z-index: 1;
}